* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

:root {
    --main-color: rgb(185 61 54);
}

header {
    background-image: url('../images/header.jpeg');
    background-size: cover;
    background-position: center;
    height: 350px;
    margin-bottom: 1rem;
    position: relative;
}

h1 {
    color: white;
    background-color: var(--main-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    margin-right: 1rem;
}

main {
    padding: 0.5rem;
}

select {
    border: 2px solid var(--main-color);
    border-radius: 0.5rem;
    padding-block: 0.1rem;
    padding-inline: 0.5rem;
}

button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding-block: 0.3rem;
    padding-inline: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

button:hover {
    background-color: rgb(from var(--main-color) calc(r + 20) g b);
}

#controls-wrapper {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin-bottom: 1.5rem;

    div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

#districts {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    height: min-content;
    gap: 1rem;
}

.card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    gap: .5rem;
}

.tag {
    background-color: var(--main-color);
    color: white;
    padding: .25rem;
    border-radius: .25rem;
}

img {
    width: 100%;
    align-self: center;
}

dialog {
    place-self: center;
    padding: 1rem;
    border-radius: .5rem;
    max-width: 300px;
    border: 1px solid gray;
    box-shadow: .1rem .1rem 1rem gray;

    form {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        button {
            align-self: end;
        }
    }
}

@media screen and (width >= 950px) {
    main {
        width: 80%;
        margin-inline: auto;
    }

    #controls-wrapper {
        flex-direction: row;

        div {
            flex-direction: row;
        }
    }

    #districts {
        grid-template-columns: 1fr 1fr 1fr;
    }
}