.tree {

    ul {
        list-style: none;
        margin: 0;
        padding-left: calc(var(--line-size) + (2*var(--space)));
        /* space for vertical line + connector orig:60px */
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: calc((2*var(--space)));
            ;
            /* vertical line X position orig: 30px */
            top: 0;
            bottom: var(--line-size);
            width: 2px;
            background: var(--line);
        }
    }


    li {
        margin: 18px 0;
        position: relative;
    }


    .node {
        display: flex;
        align-items: center;
        gap: var(--space);
        background: transparent;
        position: relative;
        margin-left: 10px;

        z-index: 2;

        &::before {
            content: "";
            position: absolute;
            left: -40px;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 2px;
            background: var(--line);
        }
    }



    .person {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        background: var(--card);
        border: 1px solid #e6e6e6;
        padding: 8px 12px;
        border-radius: 8px;
        box-shadow: 0 3px 8px rgba(16, 24, 40, 0.04);

        @media screen and (min-width: 800px) {
            flex-direction: row;
            align-items: center;
        }

        img {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            object-fit: cover;
            border: 2px solid var(--accent);
            display: block;
        }

        .info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .name {
            font-weight: 700;
            line-height: 1;
        }

        .meta {
            font-size: 12px;
            color: #667;
            margin-top: 2px;
        }

        .couple {
            display: flex;
            align-items: center;
            gap: 14px;
            position: relative;
        }

        .spouse-line {
            width: 24px;
            height: 2px;
            background: var(--line);
            flex: 0 0 24px;
            margin: 0;
            z-index: 1;
        }

        .person {
            z-index: 2;

        }
    }

    @media (max-width:520px) {
        ul {
            padding-left: 48px;
        }

        .node::before {
            left: -34px;
            width: 34px;
        }

        .spouse-line {
            width: 16px;
            flex: 0 0 16px;
        }

        .person img {
            width: 44px;
            height: 44px;
        }
    }

}

a {
    color: gray;
}
